/*.hello
	display inline-flex
	height 100px
	width 300px
	margin 20px
	background-color gray
	font-family Arial

	&__content
		margin auto
*/
.messages
	margin auto
	display block
	height 550px
	width 700px
	border solid 1px 
.msg_list
	list-style: none
.usernameinput
	