.overlay
	label
		margin-left: 15px
	input
		display: block
		margin-top: 5px
		margin-left: 15px
.userlist
	float: right
	display: inline-block
	width 300px
	display: block
.messagebox
	float: left
	width: 600px
	height 500px
	display: inline-block
	border: 1px solid rgba(0, 0, 0, 0.7)
	margin-left: 400px
	word-wrap: break-word
	overflow-y: scroll
.messagelist
	padding-left: 10px
	list-style: none
.inputdiv
	display: block
.switchrooms
	display: block
	margin-top: 10px
	margin-left: 15px
.delete
	position: relative
	top: -5px
	left: 3px
.messageinstance
	margin-top: 13px
.messageinstance:hover
	background-color: #E3E3E3
	.delete
		background-color: #E3E3E3