doctype html
html
  head
    title React chat by Nekorsis
    link(rel='stylesheet', href='/main.css')
    script(type="text/javascript" src ="https://cdn.socket.io/socket.io-1.2.0.js")
  body
    #root
    script(src='/bundle.js')
